html {
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.App img {
  max-width: 240px;
}

.App .options {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}

.App .option {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  align-items: center;
}
